body{
	font-family: 'Pacifico', cursive;
}
.top{
	background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.middle{
	background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.experiences{
	background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
h1{
	font-size: 45px;
}
h2{
	color: orange;
}
p{
	color: dimgray;
}
.color{
	color: orange;
}
.section{
	display: flex;
	margin-bottom: 150px;
}
.halp-width{
	width: 50%;
	padding-left: 7% ;
}
.halp-width img{
	width: 80%;
}
.button{
	text-decoration: none;
	background: tomato;
	padding: 10px 40px;
	border-radius: 5px;
	color: white;
}
.developer{
	width: 40%;
	padding-left: 20px ;
	margin-left: 5%;
	margin-right: 5%;
	box-shadow: 10px 10px 20px gray;
	border-radius: 10px;
	border-left:7px solid tomato;
}
.developer2{
	width: 40%;
	padding-left: 20px ;
	margin-left: 5%;
	margin-right: 5%;
	box-shadow: 10px 10px 20px gray;
	border-radius: 10px;
	border-left:7px solid blue;	
}
footer{
	text-align: center;
}