body{
	font-family: 'Pacifico', cursive;
}
.top{
	background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.middle{
	background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
h1{
	font-size: 45px;
}
p{
	color: dimgray;
}
.color{
	color: orange;
}
section{
	display: flex;
	margin-bottom: 150px;
}
.halp-width{
	width: 50%;
	padding-left: 7% ;
}
.halp-width img{
	width: 80%;
}
.button{
	text-decoration: none;
	background: tomato;
	padding: 10px 40px;
	border-radius: 5px;
	color: white;
}